################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.wsuo
*.json
/QuanLyTiemChung/GUI/obj/GUI.csproj.nuget.dgspec.json
/QuanLyTiemChung/GUI/obj/GUI.csproj.nuget.g.props
/QuanLyTiemChung/GUI/obj/project.assets.json
/QuanLyTiemChung/GUI/obj/project.nuget.cache
